<nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

    <a href="#" class="flex items-center space-x-3">
      <div class="flex items-center justify-center w-9 h-9 rounded-lg bg-blue-600">
        <span class="text-white font-bold text-lg">U</span>
      </div>

      <span class="self-center text-xl text-gray-900 font-semibold whitespace-nowrap">
        U-Market
      </span>
    </a>

    <div class="inline-flex md:order-2 space-x-3 md:space-x-0">

      <button
        type="button"
        class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2">
        Publicar
      </button>

      <!-- Botón menú móvil -->
      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none">

        <span class="sr-only">Abrir menú principal</span>

        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14">

          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"/>
        </svg>

      </button>

    </div>

    <!-- Menú -->
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">

      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">

        <li>
          <a
            href="#"
            class="block py-2 px-3 text-blue-600 md:p-0"
            aria-current="page">
            Inicio
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600 md:p-0">
            Publicaciones
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600 md:p-0">
            Mis publicaciones
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-600 md:p-0">
            Perfil
          </a>
        </li>

      </ul>

    </div>

  </div>
</nav>